;
;  Copyright (c) IC Manage, Inc.  All rights reserved.
;
;  See also http://www.freedesktop.org/software/systemd/man/systemd.unit.html
;
;  This script allows RethinkDB to use its default configuration.
;
[Unit]
Description=reThinkDB for VelStor vCNC

[Service]
Type=simple
Environment=LD_LIBRARY_PATH=/opt/velstor/current/lib64
ExecStartPre=mkdir -p /var/opt/velstor/rethinkdb
ExecStart=/opt/velstor/current/bin/rethinkdb --directory=/var/opt/velstor/rethinkdb
Restart=always
StandardOutput=syslog+console
StandardError=syslog+console
SyslogIdentifier=vcnc-rethinkdb
User=root
Group=root

[Install]
WantedBy=remote-fs.target
