;
;  Copyright (c) IC Manage, Inc.  All rights reserved.
;
;  See also http://www.freedesktop.org/software/systemd/man/systemd.unit.html
;
;  On machine 'cnc', we are running one reThinkDB instance for all of the vcnc 
;  instances.  They currently don't collide even if they use the same reThinkDB
;  prefix.
;
[Unit]
Description=reThinkDB for VelStor vCNC

[Service]
Type=simple
Environment=LD_LIBRARY_PATH=/opt/vcnc-saluki/current/lib64
ExecStart=/opt/vcnc-saluki/current/bin/rethinkdb --config-file /opt/vcnc-saluki/current/share/vcnc/vcnc-rest/config/vcnc-rethinkdb.conf
Restart=always
StandardOutput=syslog+console
StandardError=syslog+console
SyslogIdentifier=vcnc-rethinkdb
User=root
Group=root

[Install]
WantedBy=remote-fs.target
